.shop_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .shop {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1em;
    width: 80%; /* Adjust the width as needed */
    max-width: 1200px; /* Optional max-width */
  }
  
  .shop_item {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1em;
    text-align: center;
  }
  